<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
<head>
<div><h1 style="text-align: center;">PREDICTION CALCULATOR</h1>

</head>
<body>
        <div><h3>
		
		<html> 
<style> 
    
      
    form { 
        border: 3px solid #f1f1f1; 
    } 
   
    input[type=text], 
    input[type=password] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
    } 
      
    button { 
        background-color:Tomato ; 
        color: white; 
        padding: 14px 20px; 
        margin: 8px 0; 
        border: none; 
        cursor: pointer; 
		width: 100%; 
    } 
    .container { 
        padding: 50px; 
    } 
      
    span.psw { 
        float: right; 
        padding-top: 16px; 
    } 
      
    @media screen and (max-width: 300px) { 
        span.psw { 
            display: block; 
            float: none; 
        } 
        .cancelbtn { 
            width: 150%; 
        } 
    } 
</style style="text-align: center;"> 
  
<body> 
  
    <h2 style="text-align: center;">ENTER YOUR VALUES</h2> 
    <form action="/predict" method="post"> 
	  <label for="fname">YEAR:</label>
	  <input type="text" id="fname" name="fname"><br><br>
	  <label for="lname">MONTH:</label>
	  <input type="text" id="lname" name="lname"><br><br>
	  <label for="fname">STATE:</label>
	  <input type="text" id="Sname" name="Sname"><br><br>
	  <label for="lname">TYPE OF PRODUCER:</label>
	  <input type="text" id="Tname" name="Tname"><br><br>
	  <label for="fname">ENERGY SOURCE:</label>
	  <input type="text" id="Ename" name="Ename"><br><br>
	   <button class="button">submit</button>  
	</form> 
  
</body> 
  
</html>